name: CI

on:
  push:
    branches-ignore:
      - "github-pages/*"
      - "gh-pages/*"
      - "main"
      - "master"
  schedule:
    # “At 00:00 on every 7th day-of-month from 1 through 31.” (https://crontab.guru)
    - cron: "0 0 1/7 * *"

jobs:

  ci-job:
    name: Checks
    uses: ./.github/workflows/checks.yml
    secrets: inherit

  metrics:
    needs: [ ci-job ]
    uses: ./.github/workflows/report.yml

  gate-1:
    name: Gate 1 - Regular CI
    needs: [ ci-job ]
    runs-on: ubuntu-latest
    steps:
      - name: Branch Protection
        run: true

  slow-test-detection:
    runs-on: ubuntu-latest
    steps:
      - name: Detect Slow Tests
        run: true
    environment:
      slow-tests

  run-slow-tests:
    uses: ./.github/workflows/run-tests.yml
    needs: [ slow-test-detection ]
    secrets: inherit
    with:
      slow-tests: true
      python-version: "3.10"
      exasol-version: "7.1.9"

  gate-2:
    name: Gate 2 - Allow Merge
    runs-on: ubuntu-latest
    needs: [ run-slow-tests ]
    steps:
      - name: Branch Protection
        run: true
